/* || ROOT COLOR */
:root {
	--design-system---neutrals--buttermilk: #fef9ed;
	/*		--design-system---fonts--figtree: "Figtree Variablefont Wght", sans-serif;*/
	--design-system---fonts--figtree: "Figtree", sans-serif;
	--design-system---neutrals--midnight: #1c1f58;
	--design-system---fonts--wishfarm-semibold: "Wishfarm Semibold", sans-serif;
	--design-system---blurple--blurple: #545bfe;
	--design-system---blurple--blurple-600: #383ca3;
	--blurple\<deleted\|variable-aa6120a8\>: #545bfe;
	--blurple-600\<deleted\|variable-22491358\>: #464cd1;
	--design-system---neutrals--neutral-500: #56596c;
	--granite-600\<deleted\|variable-c7f0a2fc\>: #405163;
	--design-system---sizing--l: 3rem;
	--design-system---sizing--xs: .75rem;
	--design-system---neutrals--white: white;
	--design-system---sizing--m: 2rem;
	--design-system---firefly--firefly: #aee865;
	--granite-300\<deleted\|variable-6a8f63b3\>: #d2d8de;
	--design-system---neutrals--neutral-200: #c4c5cf;
	--white\<deleted\|variable-beab55cf\>: white;
	--design-system---sizing--s: 1rem;
	--design-system---blurple--blurple-300: #a3acff;
	--blurple-200\<deleted\|variable-7b376a40\>: #caccff;
	--blurple-100\<deleted\|variable-5dec6f53\>: #f1f1ff;
	--dandelion: #f6c91d;
	--sunset-600: #c72c1e;
	--buttermilk\<deleted\|variable-53f4671f\>: #fef9ed;
	--design-system---sizing--xhuge: 8rem;
	--midnight\<deleted\|variable-28252d4e\>: #1c1f58;
	--design-system---meadow--meadow: #41d298;
	--design-system---sizing--xxl: 5rem;
	--design-system---sizing--xxhuge: 12rem;
	--design-system---sizing--huge: 6rem;
	--design-system---sizing--xl: 4rem;
	--design-system---sizing--xxs: .5rem;
	--design-system---sizing--tiny: .25rem;
	--design-system---neutrals--neutral-400: #727484;
	--design-system---neutrals--neutral-300: #9b9caa;
	--design-system---firefly--firefly-500: #93d53e;
	--design-system---fonts--wishfarm-medium-italic: "Inter Medium Italic", sans-serif;
	--design-system---neutrals--buttermilk-150: #fdf3d2;
	--design-system---fonts--wishfarm-medium: "Wishfarm Medium", sans-serif;
	--design-system---blurple--blurple-100: #f1f1ff;
	--granite-500\<deleted\|variable-3d24d2f4\>: #6e7a88;
	--design-system---meadow--meadow-200: #bbf6dd;
	--blurple-300\<deleted\|variable-61b8482c\>: #a3acff;
	--blurple-400\<deleted\|variable-9668c54c\>: #7583ff;
	--granite-900\<deleted\|variable-0b3c7218\>: #0c1722;
	--blurple-700\<deleted\|variable-0d85cc33\>: #383ca3;
	--blurple-800\<deleted\|variable-8b88f471\>: #292c6c;
	--design-system---blurple--blurple-700: #383ca3;
	--granite-200\<deleted\|variable-270149ef\>: #edf1f5;
	--accessible-components-dark-grey\<deleted\|variable-c4d8099c\>: #9b9b9b;
	--dandelion-200\<deleted\|variable-7f5d7693\>: #fdf1c6;
	--accessible-components-dodger-blue\<deleted\|variable-61ffd3d7\>: #1378d1;
	--design-system---blurple--blurple-200: #d4d5ff;
	--design-system---meadow--meadow-300: #6be9b8;
	--design-system---neutrals--neutral-100: #ededf5;
	--slime\<deleted\|variable-5ec4facb\>: #84dd3e;
	--sunset: #fc6350;
	--dandelion-150\<deleted\|variable-01e495e3-0f3c-f6c5-f71f-41641d447604\>: #fdf3d2;
	--design-system---meadow--meadow-100: #edfaf4;
	--design-system---blurple--blurple-400: #7583ff;
	--design-system---blurple--blurple-800: #292c6c;
	--design-system---blurple--blurple-900: #1b1d48;
	--design-system---meadow--meadow-500: #02bc79;
	--design-system---firefly--firefly-100: #f1fbe9;
	--design-system---firefly--firefly-200: #dffac4;
	--design-system---firefly--firefly-300: #c2f680;
	--design-system---mulberry--mulberry-400: #e48585;
	--design-system---mulberry--mulberry: #ce5e66;
	--design-system---mulberry--mulberry-600: #b83646;
	--design-system---mulberry--mulberry-700: #912333;
	--design-system---fonts--wishfarm-semibold-italic: "Wishfarm Semibold Italic", sans-serif;
	--sunset-200: #fdd7d3;
}

html {
	height: 100%;
}
html {
	font-family: sans-serif;
}
/* || RESET */
* {
	box-sizing: border-box;
}
/* || BODY */
@media screen and (min-width: 1920px) {
	.body {
		border: 1px solid #000;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


body {
	text-rendering: optimizeLegibility;
}
body {
	background-color: var(--design-system---neutrals--buttermilk);
	font-family: var(--design-system---fonts--figtree);
	color: var(--design-system---neutrals--midnight);
	font-size: 1rem;
	font-weight: 400;
	line-height: 150%;
}
body {
	min-height: 100%;
	margin: 0;
}

/* page wrapper */
.design-system--global-styles {
	display: block;
	position: fixed;
	inset: 0% auto auto 0%;
}
.design-system--au_modal_mask {
	z-index: 15020;
	background-color: #1c1f58b3;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	inset: 0%;
	overflow: hidden;
}
.design-system--hide {
	display: none;
}
.referral_modal_mask {
	z-index: 15010;
	justify-content: center;
	padding: 2rem;
	display: flex;
	position: absolute;
	inset: 0%;
	overflow-y: auto;
}
.referral_modal_mask.hide {
	display: none;
}

/** section_navbar */
.section_navbar {
	z-index: 1000;
	background-color: var(--design-system---neutrals--midnight);
	position: sticky;
	inset: 0% 0% auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
.padding-global {
	z-index: 0;
	flex: 0 auto;
	padding-left: 5rem;
	padding-right: 5rem;
	position: static;
}
@media screen and (min-width: 1440px) {
	.padding-global {
		margin-top: 0;
	}
}
@media screen and (min-width: 1920px) {
	.padding-global {
		margin-top: 0;
	}
}
.container-large {
	grid-column-gap: 3rem;
	grid-row-gap: 3rem;
	width: 100%;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
}
.container-medium, .container-small, .container-large {
	margin-right: auto !important;
	margin-left: auto !important;
}
.w-nav::before, .w-nav::after {
	content: " ";
	grid-area: 1 / 1 / 2 / 2;
	display: table;
}
.w-nav::after {
	clear: both;
}
.w-nav {
	z-index: 1000;
	background: #ddd;
	background-color: rgb(221, 221, 221);
	position: relative;
}
.navbar {
	background-color: #0000;
	margin-top: 0;
	margin-bottom: 0;
}
.margin-xsmall {
	margin: var(--design-system---sizing--xs);
}
.margin-vertical {
	margin-left: 0;
	margin-right: 0;
}
.margin-vertical {
	margin-right: 0rem !important;
	margin-left: 0rem !important;
}
.navbar_wrapper {
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
}
/* navbar left*/
.navbar_left {
	align-self: stretch;
	display: flex;
}
.navbar_brand.w--current {
	margin-right: .5rem;
}
.w-nav-brand {
	float: left;
	color: #333;
	text-decoration: none;
	position: relative;
}
.navbar_brand {
	margin-right: 1rem;
	transition: transform .2s;
}
a {
	background-color: #0000;
}
a {
	color: var(--design-system---blurple--blurple);
	cursor: pointer;
	font-weight: 600;
	text-decoration: underline;
}
/* logo */
.navbar-brand-image {
	cursor: pointer;
	object-fit: contain;
	width: 90px;
	overflow: visible;
}
img {
	border: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
	display: inline-block;
}
img {
	object-fit: contain;
	border-radius: 8px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: inline-block;
}
/* tooltip */
.navbar-brand-tooltip-container {
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity .2s;
	position: absolute;
	top: 0;
}
.navbar-brand-tooltip {
	background-color: var(--design-system---neutrals--midnight);
	text-align: center;
	border-radius: 8px;
	width: 100px;
	padding: 8px;
	display: block;
	position: absolute;
	top: 50px;
}
.navbar-brand-tooltip-text {
	color: var(--design-system---neutrals--neutral-300);
	font-size: .7rem;
	font-weight: 600;
	line-height: 130%;
}
/* hover tooltip */
.navbar_brand:hover {
	transform: scale(1.1) rotate(-4deg);
}
a:hover {
	color: var(--design-system---blurple--blurple-600);
	-webkit-text-stroke-color: var(--design-system---blurple--blurple-600);
}
a:active, a:hover {
	outline: 0;
}
a:hover {
	color: var(--design-system---blurple--blurple-600);
	-webkit-text-stroke-color: var(--design-system---blurple--blurple-600);
}
.navbar-brand-tooltip-container:hover {
	opacity: 1;
}
/* nav list */
.w-list-unstyled {
	padding-left: 0;
	list-style: none;
}
.nav_list {
	justify-content: space-between;
	align-self: center;
	align-items: center;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
}
ul {
	margin-top: 0;
	margin-bottom: 1.5rem;
	padding-left: 1.5rem;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 40px;
}

.nav_list-item.hide-tablet {
	justify-content: center;
	align-items: center;
	margin-left: .4rem;
	margin-right: .4rem;
	display: flex;
}
.nav_list-item.hide-tablet {
	align-self: stretch;
	align-items: center;
	margin-left: .7rem;
	margin-right: .7rem;
	display: flex;
}
/* ul li */
@media screen and (min-width: 1280px) {
	.nav_list-item.hide-tablet {
		margin-left: .7rem;
		margin-right: .7rem;
	}
}
.nav_list-item {
	order: 1;
	margin-bottom: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}
li {
	margin-bottom: .5rem;
}
.w-dropdown {
	text-align: left;
	z-index: 900;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	position: relative;
}
.nav_dropdown {
	justify-content: center;
	align-self: center;
	align-items: center;
	margin-left: 0;
	margin-right: 0;
	display: flex;
}
.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
	vertical-align: top;
	color: #222;
	text-align: left;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-decoration: none;
	position: relative;
}
.w-dropdown-toggle {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-right: 40px;
	display: inline-block;
}
.nav_dropdown-toggle {
	grid-column-gap: .5rem;
	grid-row-gap: .5rem;
	color: var(--design-system---neutrals--buttermilk);
	cursor: pointer;
	flex-direction: row;
	align-self: stretch;
	align-items: center;
	height: 1.75rem;
	padding: 0;
	font-size: .875rem;
	line-height: 20px;
	display: flex;
}
.nav_dropdown-label {
	align-self: center;
	font-size: .95rem;
	font-weight: 600;
	line-height: 150%;
}
.w-embed::before, .w-embed::after {
	content: " ";
	grid-area: 1 / 1 / 2 / 2;
	display: table;
}
.w-embed::after {
	clear: both;
}
elemento {
}
.icon-1x1-small {
	flex: 0 auto;
	align-self: auto;
	width: 1rem;
	height: 1rem;
}
svg:not(:root) {
	overflow: hidden;
}
.w-dropdown-list {
	background: #ddd;
	background-color: rgb(221, 221, 221);
	min-width: 100%;
	display: none;
	position: absolute;
}
.nav_dropdown-list {
	background-color: #fff;
	border-radius: 8px;
	margin-top: .75rem;
	padding: .5rem;
	display: none;
	top: 80%;
	overflow: visible;
}
/* hover li */
.nav_dropdown-toggle:hover {
	border-bottom-width: 1.5px;
	border-bottom-color: var(--design-system---meadow--meadow-200);
	color: var(--design-system---meadow--meadow-200);
	align-items: center;
}
.nav_dropdown-label:hover {
	border-bottom: 1.5px solid var(--design-system---meadow--meadow-200);
	object-fit: fill;
	align-self: center;
}
.nav_link {
	color: var(--design-system---neutrals--buttermilk);
	text-align: left;
	white-space: nowrap;
	align-self: stretch;
	align-items: center;
	height: 1.75rem;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	font-size: .95rem;
	font-weight: 600;
	text-decoration: none;
	display: flex;
}
/* hover nav_link */
.nav_link:hover {
	border-style: none none solid;
	border-width: 1px 1px 1.5px;
	border-color: var(--granite-600\<deleted\|variable-c7f0a2fc\>) var(--granite-600\<deleted\|variable-c7f0a2fc\>) var(--design-system---meadow--meadow-200);
	color: var(--design-system---meadow--meadow-200);
}
.nav_list-item.hide-tablet.is-wellness {
	display: none;
}
@media screen and (min-width: 1280px) {
	.nav_list-item.hide-tablet.is-wellness {
		display: flex;
	}
}

/* navbar_right ul li */
.w-nav-menu {
	float: right;
	position: relative;
}
.nav_list-wrapper {
	align-self: auto;
	display: flex;
}
.nav_link.is-login.js-login {
	border-style: none;
	border-radius: 0;
	align-self: center;
	padding-left: 0;
	padding-right: 0;
}
.nav_link.is-login {
	border: 2px solid var(--buttermilk\<deleted\|variable-53f4671f\>);
	border-radius: 8px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.nav_link.is-login.js-login:hover {
	border-bottom: 1.5px solid var(--design-system---meadow--meadow-200);
	background-color: #0000;
}
.nav_link.is-login:hover {
	border-color: var(--blurple-400\<deleted\|variable-9668c54c\>);
	background-color: var(--granite-900\<deleted\|variable-0b3c7218\>);
}
.nav_list-item.is-cta.hide-tablet {
	margin-left: .5rem;
}
.button-primary-dark.is-green.js-signup.is-nav {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
.button-primary-dark.is-green.js-signup {
	border: 2px solid var(--design-system---firefly--firefly);
	cursor: pointer;
	flex: 0 auto;
}
.button-primary-dark.is-green.is-nav {
	padding-top: var(--design-system---sizing--xxs);
	padding-bottom: var(--design-system---sizing--xxs);
}
.button-primary-dark.is-green {
	border-color: var(--design-system---firefly--firefly);
	background-color: var(--design-system---firefly--firefly);
	color: var(--design-system---neutrals--midnight);
	cursor: pointer;
	flex-flow: row;
	flex: 1;
	justify-content: center;
	align-self: auto;
	align-items: center;
	display: flex;
}
.w-button {
	color: #fff;
	line-height: inherit;
	cursor: pointer;
	background-color: #3898ec;
	border: 0;
	border-radius: 0;
	padding: 9px 15px;
	text-decoration: none;
	display: inline-block;
}
.button-primary-dark {
	padding: var(--design-system---sizing--xs) var(--design-system---sizing--s);
	border: 1px solid var(--design-system---blurple--blurple);
	background-color: var(--design-system---blurple--blurple);
	color: var(--design-system---neutrals--buttermilk);
	text-align: center;
	border-radius: 6px;
	justify-content: flex-start;
	align-items: stretch;
	font-weight: 600;
	text-decoration: none;
	display: block;
}
.hide {
	display: none;
}
.hide {
	display: none !important;
}
/* hover button green */
.button-primary-dark.is-green.js-signup:hover {
	border-color: var(--design-system---firefly--firefly-500);
}
.button-primary-dark.is-green:hover {
	border-color: var(--design-system---firefly--firefly-500);
	background-color: var(--design-system---firefly--firefly-500);
}
/* nav list mobile highlight */
.nav_list-item-mobile-highlight {
	order: 1;
	margin-bottom: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	display: none;
}
.w-inline-block {
	max-width: 100%;
	display: inline-block;
}
.nav_list-item-mobile {
	order: 1;
	margin-bottom: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	display: none;
}
.nav_dropdown-mobile {
	margin-left: 0;
	margin-right: 0;
}
.nav_dropdown-list-mobile {
	background-color: #fff;
	border-radius: 0;
}
.nav_dropdown-link {
	color: var(--blurple\<deleted\|variable-aa6120a8\>);
	border: 1px #000;
	border-radius: 8px;
	margin-left: 0;
	margin-right: 0;
	padding: .5rem 1rem;
	font-size: .875rem;
	font-weight: 600;
	text-decoration: none;
}
.is-mobile {
	display: none;
}
.nav_link-login {
	border: 1px none var(--blurple\<deleted\|variable-aa6120a8\>);
	color: var(--blurple\<deleted\|variable-aa6120a8\>);
	letter-spacing: .25px;
	margin-left: 0;
	margin-right: 0;
	padding: 5px 0;
	font-size: .875rem;
	font-weight: 700;
	line-height: .125rem;
	text-decoration: none;
}
.button-icon-video {
	color: var(--design-system---blurple--blurple);
	flex: none;
	align-self: center;
	width: 1rem;
	height: 1rem;
	margin-left: 0;
	margin-right: 0;
}
/* main-wrapper */
.main-wrapper {
	position: static;
	overflow: visible;
}
.home_hero-section.background-color-blurple {
	background-image: url("https://cdn.prod.website-files.com/640f69143ec11b21d42015c6/6776d0feb0dad6298ff22ba1_bkg_home_tissuepaper_noise.avif");
	background-position: 50% 99%;
	margin-bottom: -.25rem;
}
@media screen and (min-width: 1920px) {
	.home_hero-section.background-color-blurple {
		background-size: cover;
	}
}
.background-color-blurple {
	background-color: var(--design-system---blurple--blurple);
	color: var(--design-system---neutrals--buttermilk);
	position: static;
}
.home_hero-section {
	background-image: url("https://cdn.prod.website-files.com/640f69143ec11b21d42015c6/67571e0fde6d088ec108116b_home_tissue-paper%20(1).avif");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 101%;
}
@media screen and (min-width: 1920px) {
	.home_hero-section {
		background-position: 100% 100%;
		background-size: 50%;
		padding: 0;
	}
}
.home_hero-padding {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.home_hero-split {
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	display: flex;
}
/* home hero left */
.home_hero-left {
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	flex-direction: column;
	flex: 1;
	align-self: center;
	align-items: flex-start;
	width: 100%;
	margin-top: -9rem;
	display: flex;
}
@media screen and (min-width: 1920px) {
	.home_hero-left {
		margin-top: -15rem;
	}
}
.home_hero-copy {
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	flex-direction: column;
	justify-content: flex-start;
	align-self: flex-start;
	align-items: flex-start;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
}
h1 {
	margin: .67em 0;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-size: 2em;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	font-weight: bold;
}
h1 {
	margin-top: 20px;
	font-size: 38px;
	line-height: 44px;
}
h1 {
	font-family: var(--design-system---fonts--wishfarm-semibold);
	letter-spacing: -.04rem;
	margin-top: 1.5rem;
	margin-bottom: .75rem;
	font-size: 4rem;
	font-weight: 600;
	line-height: 107%;
	display: block;
}
.text-span-3 {
	text-decoration: line-through;
	text-decoration-color: currentcolor;
	-webkit-text-decoration-color: var(--design-system---meadow--meadow);
	text-decoration-color: var(--design-system---meadow--meadow);
}
.hero_subhead {
	letter-spacing: -.015rem;
	margin-bottom: 1rem;
	font-family: Wishfarm Medium Italic, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 125%;
}
p {
	margin-top: 0;
	margin-bottom: 10px;
}
p {
	margin-bottom: 1.5rem;
}
.padding-xsmall {
	padding: var(--design-system---sizing--xs);
}
.padding-bottom {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.text-size-small {
	align-self: auto;
	font-size: .875rem;
	line-height: 150%;
}
/* home hero right */
.home_hero-right {
	flex: 1;
	width: 100%;
}
.floating-hero-wrapper {
	position: relative;
}
.hero-dollars {
	z-index: 1;
	position: absolute;
}
.floating-shadow {
	background-color: var(--midnight\<deleted\|variable-28252d4e\>);
	opacity: .2;
	filter: blur(2px);
	border-radius: 100%;
	width: 50%;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	inset: auto 10% -20px 0%;
}


















































